git.txt
1.txt
mod.txt
~дешифратор

backup/
old/
rel


*.7z
*.bak
*.b##
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.hex
*.s##
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
#*.lay
*.lnk
*.log
*.l#1
*.l#2
*.l#3
*.l#4
*.l#5
*.l#6
*.l#7
*.l#8
*.l#9
*.ods#
*.pdsbak
*.pro
*.job
*.workspace
*.zip


/arduino/_595fw-13-8-6
/arduino/_595fw-13-8-6-1
/arduino/_595fw-13-8
/arduino/_595fw-13-6
/proteus/74HC595-13-8.pdsprj
/proteus/74HC595-13-8-6.pdsprj
/proteus/74HC595-13-8-6-2.pdsprj

/proteus/Новый текстовый документ.txt
/proteus/74HC595-13-8.pdsprj
/proteus/74HC595-13-8-6.pdsprj
/proteus/74HC595-13-8-6-2.pdsprj
/proteus/74HC595-13-6.pdsprj
/lay/ИН-3 сегмент - копия.lay


/EAGLE/1.png
/proteus/74HC595-13-7.pdsprj
/детали/инвертор.lay
/фото
/питание.lay
/питание_2.lay
/morda
